{
  "semi": true,
  "singleQuote": false,
  "plugins": ["prettier-plugin-glsl"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 80
      }
    }
  ]
}