/* components/webgl/Loader.module.pcss */

.canvasElement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s ease;
  will-change: opacity;
}

.canvasExit {
  opacity: 0;
}